@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "tailwindcss";

@theme {
    --font-righteous: "Righteous", sans-serif;
    --font-Saira: "Saira", sans-serif;
}